body { font-family: "Open Sans";}
.active-project { margin-bottom: 10px; }
.active-project-title { padding-bottom: 5px; }
.align-right { text-align: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }

/* Layout */
.header-content { background: #668caf; font-weight: 600; color: #FFF; padding: 8px; border-radius: 4px 4px 0px 0px;  padding-left: 10px; padding-right: 10px;}
.content-page { background: #FFF; padding: 5px; padding-left: 10px; padding-right: 10px; padding-bottom: 10px; border: 1px solid #668caf; border-radius: 0px 0px 4px 4px;}
.main { background: #FFF; }
.white-area-content { background: #FFFFFF; border-radius: 4px;}
.white-link { color: #FFFFFF; }
.white-link:hover { color: #DCE8E8; text-decoration: none;}

/* header */
.navbar-header2 { background: #273643; border-bottom: 1px solid #222324 !important;}
.navbar-header2 a { color: #FFFFFF; }
.navbar-header2 a:hover { color: #e1e1e1;}
.navbar-nav li:hover a { background: #2c6e98 !important;}
.navbar-brand { padding: 11px !important;}
.graph-height { height: 400px !important; }
.block-area { border: 1px solid #e8e8e8; padding: 10px; margin: 5px;}
#myChart { width: 98%;}
.doughnut-legend { list-style: none; }
.doughnut-legend li { float: left; margin: 10px; }
.home-label { border-bottom: 1px solid #f1f1f1; text-align: left; padding: 5px; color: #343a3d; margin: 0px; background: #f8f8f8; margin-bottom: 10px; border-radius: 4px; font-weight: 550; }
.small-text { font-size: 12px; }
.user_level_display { font-size: 12px; padding-top: 0px;}
.user_name_display { padding: 0px; margin: 0px; font-weight: 600; padding-bottom: 5px;}
.user_avatar { width: 45px; height: 45px;}

.table {}
.table-header { font-weight: 600; background: #f0f0f0; }


.doughnut-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.icon-nolink { color: #5e5e5e;}
.faded { opacity: .5;}

.dashboard-window { background: #62acec; width: 100%; padding: 20px; color: #FFF; border-radius: 4px;}
.d-w-icon { width: 30%; float: left; margin-right: 5px;}
.d-w-text { width: 65%; float: left; font-size: 13px; }
.giant-white-icon { font-size: 48px; color: #FFF;}
.d-w-num { font-size: 38px; color: #FFF; vertical-align: top; line-height: 100%; }

.db-header { border-bottom: 1px solid #d3d3d3; margin-bottom: 10px; padding-bottom: 1px;}
.db-header-title { font-size: 18px; float: left;}
.page-header-title { font-size: 24px; float: left;}
.db-header-extra { float: right; padding: 5px;  }

.newnav .active a { background: #455d74 !important; color: #FFFFFF !important; border-left: 4px solid #f4124d;}
.newnav li .active { background: #455d74 !important; color: #FFFFFF !important; border-left: 4px solid #f4124d;}
.sidebar { background: #668caf !important; font-size: 13px; color: #FFFFFF;}
.newnav a { color: #FFFFFF !important; border-left: 4px solid #668caf;}
.plus-sidebar { float: right; color: #FFF; }
.newnav a:hover { background: #455d74 !important; color: #FFFFFF !important; border-left: 4px solid #f4124d;}
.newnav a:focus { background: #455d74 !important; color: #FFFFFF !important; border-left: 4px solid #f4124d;}
.navbar-indent {}
.bolded { font-weight: 600;}

/* Innner Sidebar Links */
.inner-sidebar-links { list-style: none;  margin: 0px; padding: 0px; }
.inner-sidebar-links a { display: block; background: #597998; font-size: 13px; padding: 7px; border-left: 4px solid #597998;}
.inner-sidebar-links li a span { padding-left: 20px; }
.inner-sidebar-links a:hover { background: #273643 !important; text-decoration: none;}
.inner-sidebar-links .active a { background: #273643 !important; text-decoration: none; border-left: none; }

/* Profile Area */
.profile-area { position: relative; width: 100%;}
.profile-main { border-top: 1px solid #eeeeee; border-right: 1px solid #eeeeee; border-bottom: 1px solid #eeeeee; border-radius: 0px 4px 4px 0px; min-height: 400px; margin-left: 250px; }

.profile-sidebar { position: absolute; top: 0px; left: 0px; width: 250px; background: #668caf; min-height: 400px; border-radius: 0px 0px 0px 4px;}
.profile-user { background: #273643; width: 250px; height: 150px; border-radius: 4px 0px 0px 0px; padding: 30px; color: #FFFFFF; }
.profile-info { padding: 10px;}
.profile-info-label { font-weight: 600; color: #E1E7F6; }
.profile-info-content { text-align: right; color: #FFFFFF; font-weight: 600;}
.profile-main-content { padding: 10px;}
.profile-info-p2 { padding: 10px; color: #FFFFFF;}
.table-profile { border-color: #000; width: 100%; }
.table-profile td{ padding: 8px;}
.table-profile tr { border-top: 1px solid #719CC4;}

a:focus{
outline: none;
border: 0px solid #ff00ff;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
text-decoration: none;
}

.input-group-addon {
    min-width:50px;
    text-align:left;
}

.form-control-campo {
    min-width:50px;
    text-align:left;
}

.rss-feed {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 1em;
background-color: #2c3e50;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
font-family: 'Lato', sans-serif;
}

.live-search-box {
width: 100%;
display: block;
padding: 1em;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
border: 1px solid #3498db;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.rss-feed ul {
list-style: none;
padding: 0;
margin: 1em 0 0.5em;
}

.rss-feed a {
text-decoration: none;
color: #fff;
}